---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <h1 class="text-white">About the project</h1>
  <p class="text-gray-400">
    The SpaceX launches project is a demo for the Astri course
  </p>
</Layout>
