---
import Counter from './Counter'
import { Icon } from 'astro-icon/components'
import HeaderButton from '@components/HeaderButton.astro'
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      SpaceX Launches 🚀
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      All the information about SpaceX launches
    </p>
  </div>

  <Counter client:visible transition:persist />
  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <HeaderButton href="/">
      <Icon name="rocket" slot="before" class="size-11" />

      Ultimos lanzamientos</HeaderButton
    >
    <HeaderButton href="/about">
      <Icon name="info" slot="before" class="size-11" />

      Sobre el proyecto</HeaderButton
    >
    <HeaderButton href="/oldest">
      <Icon name="clock" slot="before" class="size-11" />

      Los mas viejos</HeaderButton
    >
  </nav>
</header>
